<%= turbo_frame_tag "modal-edit-heads" do %>
  <div class="my-modal">
    <div class="cancel-button rounded-5 col-md-6 container text-bg-light p-3">
    <h2 class='text-center'>Editar Jefe de hogar</h2>  
    <%= render "form", head: @head %>  
    <br>
    <%= render partial: "shared/close_button" %>
  </div>
<% end %>
