<p style="color: green"><%= notice %></p>

<h1>Heads</h1>

<div id="heads">
  <% @heads.each do |head| %>
    <%= render head %>
    <p>
      <%= link_to "Show this head", head %>
    </p>
  <% end %>
</div>
<button type="button" data-controller='toast' data-action='click->toast#notify' class="btn btn-primary" id="liveToastBtn">Show live toast</button>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Bootstrap</strong>
      <small>11 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
  </div>
</div>

<%= link_to "New head", new_head_path %>
