<p style="color: green"><%= notice %></p>

<h2 class='text-center'>Jefes de Hogares</h2>

<div id="heads" class="overflow">
<table class="table table-striped">
  <thead>
    <tr>      
      <th scope="col">Cedula</th>
      <th scope="col">Nombre</th>
      <th scope="col">Editar</th>
      <th scope="col">Hogar</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <% @heads.each do |head| %>
      <%= render head %>   
    <% end %>
  </tbody>
</table>
</div>
<%= link_to "Nuevo Jefe de hogar", new_head_path %>
