<%= turbo_frame_tag "new-head" do %>
  <div class="my-modal">
    <div class="modal-container rounded-5 col-md-6 container text-bg-light p-3">
      <div>
        <h1>Nuevo Jefe de Hogar</h1>    
        <%= render "form", head: @head %>    
        <br>    
        <%= render partial: "shared/close_button" %>
      </div>
    </div>
  </div>
<% end %>
