<% flash.each do |key,value| %>
    <div data-controller="flash" class="d-flex position-absolute top-0 end-0 mt-5 me-3 justify-content-between alert alert-success col-4" role="alert">
    <%= value %>
    <button type="button" class="btn-close" aria-label="Close" data-action="flash#dismiss"></button>
    </div>
<% end %>