<div class="d-flex flex-column align-items-center">
  <h3 class="m-0">Comuna Chávez 4ta Raíz</h3>
  <p class="m-0">UBCH 12 De Marzo</p>
  <p class="m-0">Comunidad CLAP Seguridad Alimentaria</p>
</div>