<h1>Editing social aid</h1>

<%= render "form", social_aid: @social_aid %>

<br>

<div>
  <%= link_to "Show this social aid", @social_aid %> |
  <%= link_to "Back to social aids", social_aids_path %>
</div>
