<%= turbo_frame_tag "edit-member" do %>
  <div class="modal-container cancel-button rounded-5 col-6 container text-bg-light p-3">  
    <h2 class="text-center">Editar Familiar</h2>    
    <%= render "form", member: @member %>    
    <%= render partial: "shared/close_button" %>

  </div>
<% end %>
