<div class="rounded-5 col-6 container text-bg-light p-3">
<h2 class="text-center">Editar Familiar</h2>

<%= render "form", member: @member %>

<br>

<div> 
  <%= link_to "Regresar",  @member.head %>
</div>
</div>
