<div class="container text-bg-light p-3">
<div class='container'>
  <h2 class="text-center">Nuevo Integrante</h2>
  
  <%= render "form", member: @member %>
  
  <br>
  
  <div>
    <%= link_to "Regresar", head_path(params[:head_id]) %>
  </div>
</div>
</div>